@model FilmPuanlamaSitesi.Models.Siniflar.Kullanici
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
}

<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>LOGIN PAGE</title>
    <!-- Custom Theme files -->
    <link href="~/login page/css/users.css" rel="stylesheet" type="text/css" media="all" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Flat Tab Forms Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Federo' rel='stylesheet' type='text/css'>
    <!--google fonts-->
    <!--remove-->
    <script src="~/login page/js/jquery-1.11.0.min.js"></script>
    <script>
        $(document).ready(function (c) {
            $('.close').on('click', function (c) {
                $('.header').fadeOut('slow', function (c) {
                    $('.header').remove();
                });
            });
        });
    </script>
    <!--remove-->
    <script src="~/login page/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });

    </script>
</head>
<body>
    <!--header start here-->
    <h1>LOGIN PAGE</h1>
    <div class="header agile">
        <div class="headder-main w3layouts">
            <div class="login agileinfo"> 
                <div class="sap_tabs">
                    <div id="horizontalTab" class="login-bottom login-bottom1 w3ls" style="display: block; width: 100%; margin: 0px;">
                        <ul class="resp-tabs-list w3">
                            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Sign In</span></li>
                        </ul>
                        <div class="resp-tabs-container w3-agile">
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                <div class="login-top">
                                    <form action="#" method="post">
                                        <h6>Email</h6>
                                            <input type="text" class="email" name="Email" required="" id="Email">
                                        <h6>Password</h6>
                                        <input type="password" class="password" name="Sifre" required="">
                                        <span class="checkbox1">
                                            <label class="checkbox"><input type="checkbox" name="" checked=""><i> </i>Remember me</label>
                                        </span>
                                        <div class="login-bottom login-bottom1 w3ls">
                                            <input type="submit" value="Sign In" />
                                            Don't have an account?<br /><a href="/LoginPage/Register"><b style="color:#0026ff; font-size:20px;">SIGN UP</b></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                                <div class="login-top wthree">
                                    <form action="#" method="post">
                                        <h6>Name</h6>
                                        <input type="text" placeholder="Name" name="Name" required="">
                                        <h6>Email</h6>
                                        <input type="text" class="email" placeholder="Email" name="Email">
                                        <h6>Password</h6>
                                        <input type="password" class="password" placeholder="Password" name="password">
                                        <div class="login-bottom">
                                            <input type="submit" value="Sign Up">
                                            <div class="clear"></div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="close">
            <img src="~/login page/images/cancel.png" alt="">
        </div>
    </div>
    <!--header end here-->
    <!--copy rights end here-->
    <div class="copy-rights agileits">
        <p>© 2020 Fragmanous login page Tüm Hakları Saklıdır | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div>
    <!--copyrights start here-->
</body>
</html>
