
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<body>
    <!--/breadcrumbs -->
    <div class="w3l-breadcrumbs">
        <nav id="breadcrumbs" class="breadcrumbs">
            <div class="container page-wrapper">
                <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">Contact</span>
            </div>
        </nav>
    </div>
    <!--//breadcrumbs -->
    <!-- contact1 -->
    <section class="w3l-contact-1">
        <div class="contacts-9 py-5">
            <div class="container py-lg-4">
                <div class="headerhny-title text-center">
                    <h4 class="sub-title text-center">Contact us</h4>
                    <h3 class="hny-title mb-0">Leave a Message</h3>
                    <p class="hny-title mb-lg-5 mb-4">If you have a question regarding our services, feel free to contact us using the form below.</p>
                </div>
                <div class="contact-view mt-lg-5 mt-4">
                    <div class="conhny-form-section">
                        <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="formhny-sec">
                            <div class="form-grids">
                                <div class="form-input">
                                    <input type="text" name="w3lName" id="w3lName" placeholder="Enter your name *" required="" />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lSubject" id="w3lSubject" placeholder="Enter subject " required />
                                </div>
                                <div class="form-input">
                                    <input type="email" name="w3lSender" id="w3lSender" placeholder="Enter your email *"
                                           required />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lPhone" id="w3lPhone" placeholder="Enter your Phone Number *"
                                           required />
                                </div>
                            </div>
                            <div class="form-input mt-4">
                                <textarea name="w3lMessage" id="w3lMessage" placeholder="Type your query here"
                                          required=""></textarea>
                            </div>
                            <div class="submithny text-right mt-4">
                                <button class="btn read-button">Submit Message</button>
                            </div>
                        </form>
                    </div>

                    <div class="d-grid contact-addres-inf mt-5 pt-lg-4">
                        <div class="contact-info-left d-grid">
                            <div class="contact-info">
                                <div class="icon">
                                    <span class="fa fa-location-arrow" aria-hidden="true"></span>
                                </div>
                                <div class="contact-details">
                                    <h4>Address:</h4>
                                    <p>SU İŞLERİ KEPEZ/ANTALYA</p>
                                </div>
                            </div>
                            <div class="contact-info">
                                <div class="icon">
                                    <span class="fa fa-phone" aria-hidden="true"></span>
                                </div>
                                <div class="contact-details">
                                    <h4>Phone:</h4>
                                    <p><a href="tel:+90-555-5555">+90-555-5555</a></p>
                                    <p><a href="tel:+90-544-4444">+90-544-4444</a></p>
                                </div>
                            </div>
                            <div class="contact-info">
                                <div class="icon">
                                    <span class="fa fa-envelope-open-o" aria-hidden="true"></span>
                                </div>
                                <div class="contact-details">
                                    <h4>Mail:</h4>
                                    <p><a href="mailto:mail@example.com" class="email">info@fragmanous.com</a></p>
                                    <p><a href="mailto:mail@example.com" class="email">fragmanous@support.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Devlet%20Su%20%C4%B0%C5%9FleriBar%C4%B1%C5%9F,%2007080%20Kepez/Antalya+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.maps.ie/route-planner.htm"></a>
        </div>
    </section>
    <!-- /contact1 -->
</body>
</html>

