
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <title>FRAGMANOUS</title>
</head>
<html lang="zxx">
<body>
    <!-- main-slider -->
    <section class="w3l-main-slider position-relative" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <h3>Latest Movie Trailers</h3>
                                <p style="font-size:20px;">
                                    Category: Action, Adventure, Drama
                                    <br />
                                    Year: April 2019
                                </p>
                                <a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://www.youtube.com/embed/TcMBFSGVi1c " allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="item">
                   
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <h3>Latest Online Movies</h3>
                                <p style="font-size:18px;">
                                Category: Animation, Adventure, Comedy
                                <br />
                                Year: November 2019
                                </p>
                                    <a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
                                        <span class="video-play-icon">
                                            <span class="fa fa-play"></span>
                                        </span>
                                        <h6>Watch Trailer</h6>
                                    </a>
                                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                    <div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
                                        <iframe src="https://www.youtube.com/embed/vHWbaUBDGsQ" allow="autoplay; fullscreen"
                                                allowfullscreen=""></iframe>
                                    </div>
</div>
                        </div>
                    
                </div>
                <div class="item">
                    
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <h3>Latest Movie Trailers</h3>
                                <p style="font-size:20px;">
                                    Category: Crime, Drama, Thriller
                                    <br />
                                    Year: October 2019
                                </p>
                                <a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://www.youtube.com/embed/zAGVQLHvwOY " allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                   
                </div>
                <div class="item">
                    
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <h3>Latest Online Movies</h3>
                                <p style="font-size:20px;">
                                    Category: Fantasy, Adventure, Family
                                    <br />
                                    Year: May 2019
                                </p>
                                <a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://www.youtube.com/embed/foyufD52aog" allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-slider-->
    <!-- main-slider -->
    <!--grids-sec1-->
    <section class="w3l-grids">
        <div class="grids-main py-5">
            <div class="container py-lg-3">
                <div class="headerhny-title">
                    <div class="w3l-title-grids">
                        <div class="headerhny-left">
                            <h3 class="hny-title">Popular Movies</h3>
                        </div>
                    </div>
                </div>
                <div class="w3l-populohny-grids">
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="#small-dialog5" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/m7.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">Frozen 2</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 1 Hr 43min
                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog5" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/vHWbaUBDGsQ" allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="#small-dialog6" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/m3.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">Knives Out</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 Hr 10min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog6" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/xi-1NchUqMA" allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="#small-dialog7" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/m4.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">Little Women</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 Hr 15min
                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog7" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/AST2-4db4ic" allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16">
                            <a href="#small-dialog8" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/m5.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h3 class="title">Jumanji</h3>
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 1 Hr 44min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog8" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/2QKg5SZ_35I " allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//grids-sec1-->
    <!--grids-sec2-->
    <section class="w3l-grids">
        <div class="grids-main py-5">
            <div class="container py-lg-3">
                <div class="headerhny-title">
                    <div class="w3l-title-grids">
                        <div class="headerhny-left">
                            <h3 class="hny-title">New Releases</h3>
                        </div>
                    </div>
                </div>
                <div class="owl-three owl-carousel owl-theme">
                    <div class="item vhny-grid">
                        <div class="box16 mb-0">
                            <a href="#small-dialog9" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/n1.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 Hr 4min
                                        </span>
                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog9" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/vw2FOYjCz38" allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <h3> <a class="title-gd" href="#small-dialog9">No Time to Die</a></h3>
                        <p style="font-size:14px; color:aqua;">Category: Action,Thriller</p>
                        <p style="font-size:14px; color:aqua;">Year: 2 April 2021 (TURKEY)</p>
                        <div class="button-center text-center mt-4">
                            <a href="#small-dialog9" class="btn watch-button popup-with-zoom-anim play-view1">Watch now</a>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16 mb-0">
                            <a href="#small-dialog10" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/n2.jpg" alt="">
                                </figure>
                                <div class="box-content">
                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog10" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/KK8FHdFluOQ" allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <h3> <a class="title-gd" href="#small-dialog10">Mulan</a></h3>
                        <p style="font-size:14px; color:aqua;">Category: Action, Drama</p>
                        <p style="font-size:14px; color:aqua;">Year: September 2020 (TURKEY)</p>
                        <div class="button-center text-center mt-4">
                            <a href="#small-dialog10" class="btn watch-button popup-with-zoom-anim play-view1">Watch now</a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16 mb-0">
                            <a href="#small-dialog11" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/n3.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog11" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/X2m-08cOAbc" allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <h3> <a class="title-gd" href="#small-dialog11">Free Guy</a></h3>
                        <p style="font-size:14px; color:aqua;">Category: Action, Comedy</p>
                        <p style="font-size:14px; color:aqua;">Year: 4 September 2020 (USA)</p>
                        <div class="button-center text-center mt-4">
                            <a href="#small-dialog11" class="btn watch-button popup-with-zoom-anim play-view1">Watch now</a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16 mb-0">
                            <a href="#small-dialog12" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/n4.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog12" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/dFGYK-iRMgw" allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <h3> <a class="title-gd" href="#small-dialog12">My Spy</a></h3>
                        <p style="font-size:14px; color:aqua;">Category: Action, Comedy</p>
                        <p style="font-size:14px; color:aqua;">Year: 13 March 2020 (CANADA)</p>
                        <div class="button-center text-center mt-4">
                            <a href="#small-dialog12" class="btn watch-button popup-with-zoom-anim play-view1">Watch now</a>
                        </div>

                    </div>
                    <div class="item vhny-grid">
                        <div class="box16 mb-0">
                            <a href="#small-dialog13" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/n5.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog13" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/vf1aW1z437I" allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <h3> <a class="title-gd" href="#small-dialog13">Scoob</a></h3>
                        <p style="font-size:14px; color:aqua;">Category: Animation, Adventure</p>
                        <p style="font-size:14px; color:aqua;">Year: September 2020 (TURKEY)</p>
                        <div class="button-center text-center mt-4">
                            <a href="#small-dialog13" class="btn watch-button popup-with-zoom-anim play-view1">Watch now</a>
                        </div>
                    </div>
                    <div class="item vhny-grid">
                        <div class="box16 mb-0">
                            <a href="#small-dialog14" class="popup-with-zoom-anim play-view1">
                                <figure>
                                    <img class="img-fluid" src="~/FilmSitesi/assets/images/n6.jpg" alt="">
                                </figure>
                                <div class="box-content">

                                    <h4>
                                        <span class="post">
                                            <span class="fa fa-clock-o"> </span> 2 Hr 4min

                                        </span>

                                        <span class="post fa fa-heart text-right"></span>
                                    </h4>
                                </div>
                                <span class="fa fa-play video-icon" aria-hidden="true"></span>
                            </a>
                            <div id="small-dialog14" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://www.youtube.com/embed/AY5SrKf_2ic" allow="autoplay; fullscreen"
                                        allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <h3> <a class="title-gd" href="#small-dialog14">Downhill</a></h3>
                        <p style="font-size:14px; color:aqua;">Category: Comedy, Drama</p>
                        <p style="font-size:14px; color:aqua;">Year: 6 March 2020 (TURKEY)</p>
                        <div class="button-center text-center mt-4">
                            <a href="#small-dialog14" class="btn watch-button popup-with-zoom-anim play-view1">Watch now</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--grids-sec2-->
    <!--mid-slider -->
    <section class="w3l-mid-slider position-relative">
        <div class="companies20-content">
            <div class="owl-mid owl-carousel owl-theme">
                <div class="item">
                    
                        <div class="slider-info mid-view bg bg2">
                            <div class="container">
                                <div class="mid-info">
                                    <span class="sub-text">Comedy</span>
                                    <h3>Jumanji: The Next Level</h3>
                                    <p>2019 ‧ Comedy/Action ‧ 2h 3m</p>
                                    <a class="watch popup-with-zoom-anim play-view1" href="#small-dialog15">
                                        <span class="fa fa-play"
                                              aria-hidden="true"></span>
                                        Watch Trailer
                                    </a>
                                    <div id="small-dialog15" class="zoom-anim-dialog mfp-hide">
                                        <iframe src="https://www.youtube.com/embed/rBxcF-r9Ibs" allow="autoplay; fullscreen"
                                                allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
                <div class="item">
                   
                        <div class="slider-info mid-view mid-top1 bg bg2">
                            <div class="container">
                                <div class="mid-info">
                                    <span class="sub-text">Adventure</span>
                                    <h3>Dolittle</h3>
                                    <p>2020 ‧ Family/Adventure ‧ 1h 41m</p>
                                    <a class="watch popup-with-zoom-anim play-view1" href="#small-dialog16">
                                        <span class="fa fa-play"
                                              aria-hidden="true"></span>
                                        Watch Trailer
                                    </a>
                                    <div id="small-dialog16" class="zoom-anim-dialog mfp-hide">
                                        <iframe src="https://www.youtube.com/embed/FEf412bSPLs" allow="autoplay; fullscreen"
                                                allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
                <div class="item">
                   
                        <div class="slider-info mid-view mid-top2 bg bg2">
                            <div class="container">
                                <div class="mid-info">
                                    <span class="sub-text">Action</span>
                                    <h3>Bad Boys for Life</h3>
                                    <p>2020 ‧ Comedy/Action ‧ 2h 4m</p>
                                    <a class="watch popup-with-zoom-anim play-view1" href="#small-dialog17">
                                        <span class="fa fa-play"
                                              aria-hidden="true"></span>
                                        Watch Trailer
                                    </a>
                                    <div id="small-dialog17" class="zoom-anim-dialog mfp-hide">
                                        <iframe src="https://www.youtube.com/embed/jKCj3XuPG8M" allow="autoplay; fullscreen"
                                                allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
</body>
</html>