
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/admin paneli/sidebar-master/css/styl.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>

    <h1>USERS PANEL</h1>
    <br />
    <input type="checkbox" name="checkbox" id="checkbox">
    <aside id="sidebar">
        <header class="navbar-header">
            <a href="#" class="brand-logo" style="font-size:40px; color:red;"><b> Catalog</b></a>
        </header>
        <br />
        <main class="navbar-body">
            <ul>
                <li class="nav-item">
                    <a href="/Admin/Index/" class="nav-link" style="font-size:30px; color:orange;"> Admin </a>
                </li>
                <li class="nav-item">
                    <a href="/Kullanici/Index/" class="nav-link" style="font-size:30px; color:orange;"> Users </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Genre/" class="nav-link" style="font-size:30px; color:orange;"> Genre </a>
                </li>
                <li class="nav-item">
                    <a href="/AdminAbout/Index/" class="nav-link" style="font-size:30px; color:orange;"> About </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Contact/" class="nav-link" style="font-size:30px; color:orange;"> Contact </a>
                </li>
                <li class="nav-item">
                    <a href="/Film/Index/" class="nav-link" style="font-size:30px; color:orange;">Fragmanous</a>
                </li>
            </ul>
        </main>
    </aside>
    <main id="main-content">
        <label for="checkbox" class="check-box">
            <span class="line line1"></span>
            <span class="line line3"></span>
            <span class="line line2"></span>
        </label>
    </main>

    <div>
        @RenderBody()
    </div>
</body>

</html>